<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>

  <% if current_user.token.nil? %>
    <%= link_to "Connect to Github", github_login_path, class: "video-position-submit btn btn-outline" %>
  <% else %>
    <section id="github-repos">
      <h1>Github Repositories</h1>
      <% current_user.list_repositories.each do |repository| %>
        <%= link_to repository.name, repository.link %> <br>
      <% end %>
    </section>

    <section id="github-followers">
      <h1>Github Followers</h1>
      <% current_user.list_followers.each do |follower| %>
        <%= link_to follower.name, follower.link %> <br>
      <% end %>
    </section>

    <section id="github-following">
      <h1>Github Following</h1>
      <% current_user.list_following.each do |following| %>
        <%= link_to following.name, following.link %> <br>
      <% end %>
    </section>
  <% end %>

</section>
